@model IEnumerable<NewGallery.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/artistStyle.css")" rel="stylesheet" type="text/css" />


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    <form action="/Artists/Search" method="get">
        Full name:<br>
        <input type="text" name="name">
        <br>
        <br>
        Favorite Style:<br>
        <input type="text" name="favstyle">
        <br>
        <br>
        Rate:<br>
        <input type="text" name="rate">
        <br>
        <br>
        <br /><br />
        <input type="submit" value="Search">
    </form>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtistID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtistID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtistID })
            </td>
        </tr>
    }

</table>
